* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 22px;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 97vh;
}

.content {
    margin: 5px auto;
    width: 60vw;
    height: 85%;
    display: flex;
    flex-direction: row;
}

.clocks, .sizes {
    height: 100%;
}

.clocks, .sizes {
    width: 120px;
    height: 100%;
    text-align: center;
}

.clocks {
    margin: 0 20px;
}

.value, #textarea {
    width: 100%;
    height: 100%;
    padding: 15px;
    border: 1px solid black;
    overflow: auto;
}

#textarea {
    resize: none;
}

.textarea {
    width: 100%;
}


/* Syncronize line-height of codefield and clocksfield */

#textarea, p {
    line-height: 30px;
}